# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
build/
dist/
/coverage

# editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
/vendor
